<div *tdLoading="'setting'">
  <md-list *ngIf="tcpsetting">
    <h3 md-subheader>Node ID: {{tcpsetting.id}}</h3>
    <md-list-item>
      <md-icon md-list-icon>memory</md-icon>
      <h4 md-line>{{tcpsetting.name}}</h4>
      <p md-line>Node Name</p>
    </md-list-item>
    
    <md-list-item>
      <md-icon md-list-icon>sync</md-icon>
      <h4 md-line>{{tcpsetting.SyncRetries}}</h4>
      <p md-line>Sync Retries (secs)</p>
    </md-list-item>
    <md-list-item>
      <md-icon md-list-icon>sync</md-icon>
      <h4 md-line>{{tcpsetting.SyncackRetries}}</h4>
      <p md-line>Sync Ack Retries (secs)</p>
    </md-list-item>
    <md-list-item>
      <md-icon md-list-icon>timer</md-icon>
      <h4 md-line>{{tcpsetting.KeepaliveTime}}</h4>
      <p md-line>Keepalive Time (hours)</p>
    </md-list-item>    
    <md-list-item>
      <md-icon md-list-icon>timer</md-icon>
      <h4 md-line>{{tcpsetting.KeepaliveProbes}}</h4>
      <p md-line>Keepalive Probes</p>
    </md-list-item> 
    <md-list-item>
      <md-icon md-list-icon>timer</md-icon>
      <h4 md-line>{{tcpsetting.KeepaliveInterval}}</h4>
      <p md-line>Keepalive Interval (mins)</p>
    </md-list-item>
    <md-list-item>
      <md-icon md-list-icon>refresh</md-icon>
      <h4 md-line>{{tcpsetting.Retries1}}</h4>
      <p md-line>Retries 1</p>
    </md-list-item>
    <md-list-item>
      <md-icon md-list-icon>refresh</md-icon>
      <h4 md-line>{{tcpsetting.Retries2}}</h4>
      <p md-line>Retries 2</p>
    </md-list-item>
    <md-list-item>
      <md-icon md-list-icon>refresh</md-icon>
      <h4 md-line>{{tcpsetting.OrphanRetries}}</h4>
      <p md-line>Orphan Retries</p>
    </md-list-item>
    <md-list-item>
      <md-icon md-list-icon>timer</md-icon>
      <h4 md-line>{{tcpsetting.FinTimeout}}</h4>
      <p md-line>FIN Timeout (secs)</p>
    </md-list-item>


  </md-list>
  <button md-fab *ngIf="tcpsetting" class="mat-fab-bottom-right fixed mat-accent mat-mini-fab" routerLink="/nodes/{{tcpsetting.id}}/edit"><md-icon>mode_edit</md-icon></button>
</div>
